*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

body{
    font-family: 'Press Start 2P', cursive;
    background-color: #212121;
    color: white;
}

h1{
    text-align: center;
    margin: 2em;
}

.container-centered{
    max-width: 400px;
    margin: 0 auto;
}

.email-check{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
    /* flex */

}

.email-check form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.email-check form input {
    flex-grow: 1;
    height: 2em;
    border-radius: 10px;
    border: none;

    text-align: center;
}

.btn{
    padding: 1em 4em;
    border-radius: 10px;
    border: none;
    background-color: #F1A208;

    font-family: 'Press Start 2P', cursive;
}

.email-check #btn-submit:active{
    transform: scale(.9);
}

.email-check #message{
    margin-top: 2em;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    height: 600px;

    margin-top: 5em;
}

.board [class^="board"]{
    width: 600px;
    height: 100%;
    background-color: #ffffff20;
}

.board .spacer {
    background-color: #F1A208;
    height: 90%;
    width: 2px;
}

#game {
    display: flex;
    justify-content: center;

    margin-top: 2em;
}

#new-game {
    display: none;
}
